@model IEnumerable<ISTPLab.Subject>

@{
    ViewData["Title"] = "Subjects";
}
<h1>Предмети</h1>
<hr />
<br />
<p>
    <button>
        <a asp-action="Index" asp-controller="Timetables">
            Розклад пар
            <span></span>
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Auditories">
            Аудиторії
            <span></span>
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Faculties">
            Факультети
            <span></span>
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Groups">
            Групи
            <span></span>
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Students">
            Студенти
            <span></span>
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Teachers">
            Викладачі
            <span></span>
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Home">
            Повернутись на головну
            <span></span>
        </a>
    </button>
    <br />
    <br />
    <button>
        <a asp-action="Create">
            Додати новий
            <span></span>
        </a>
    </button>
    
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-dark">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Змінити інформацію про @item?.Name</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Інформація про @item?.Name</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити @item?.Name</a>
                </td>
        </tr>
}
    </tbody>
</table>
