
@model IEnumerable<ISTPLab.Models.Timetable>

@{
    ViewData["Title"] = "Заплановані пари";
}

<h1>Заплановані пари для обраної групи</h1>

<button>
    <a asp-action="Index">
    <span></span> Повернутись на головну
    </a>
</button>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">

                @Html.DisplayNameFor(model => model.AuditoryNavigation)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.GroupTtNavigation)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.SubjectNavigation)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TeacherNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-dark">
               
                <td>
                    @Html.DisplayFor(modelItem => item.AuditoryNavigation.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupTtNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherNavigation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                
            </tr>
        }
    </tbody>
</table>
