@model IEnumerable<ISTPLab.Models.Faculty>

@{
    ViewData["Title"] = "Факультети";
}

<h1>Факультети</h1>
<hr />
<br/>
<p>
    <button>
        <a asp-action="Index" asp-controller="Timetables">
            Розклад пар
            <span></span>
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Auditories">
            Аудиторії
            <span></span>
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Groups">
            Групи  
            <span></span>
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Students">
            Студенти
            <span></span>
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Subjects">
            Предмети
            <span></span>
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Teachers">
            Викладачі
            <span></span>
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Home">
            Повернутись на головну
            <span></span>
        </a>
    </button>
    <br />
    <br />
    <button>
        <a asp-action="Create">
            Додати новий
            <span></span>
        </a>
    </button>

   
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-dark">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Змінити інформацію про факультет @item.Name</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Інформація про факультет @item.Name</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити факультет @item.Name</a>
                </td>
        </tr>
}
    </tbody>
</table>
<div class="container">
<div id="chart1"></div>
</div>
@section scripts{
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
google.charts.load('current', { 'packages': ['corechart'] });
google.charts.setOnLoadCallback(drawChart);

function drawChart() {

            $.get('/api/Chart/JsonData', function (JsonData) {
               
data = google.visualization.arrayToDataTable(JsonData, false);
var option = {
title: "Співвідношення кількості книжок та категорій",
width: 500,
height: 400
};
chart = new google.visualization.PieChart(document.getElementById('chart1'));
chart.draw(data, option);

})
}
</script>
}
