@model ISTPLab.Models.Timetable

@{
    ViewData["Title"] = "Details";
}

<h1>Інформація про проведення пари у групі @Model?.GroupTtNavigation.Name</h1>

<div>
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditoryNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditoryNavigation.Number)
        </dd>
        <dd>
            <a asp-action="DetailsUser" asp-controller="Auditories" asp-route-id="@Model?.Auditory">Детальна інформація</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupTtNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupTtNavigation.Name)
        </dd>
        <dd>
            <a asp-action="DetailsUser" asp-controller="Groups" asp-route-id="@Model?.GroupTt">Детальна інформація</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectNavigation.Name)
        </dd>
        <dd>
            <a asp-action="DetailsUser" asp-controller="Subjects" asp-route-id="@Model?.Subject">Детальна інформація</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherNavigation.Name)
        </dd>
        <dd>
            <a asp-action="DetailsUser" asp-controller="Teachers" asp-route-id="@Model?.Teacher">Детальна інформація</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>

    </dl>
</div>
<br/>

