@model ISTPLab.Models.Timetable

@{
    ViewData["Title"] = "Details";
}

<h1>Інформація про проведення пари у групі @Model?.GroupTtNavigation.Name</h1>

<div>
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditoryNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditoryNavigation.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupTtNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupTtNavigation.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectNavigation.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherNavigation.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
    </dl>
</div>
<br/>
<div>
    <a asp-action="Edit" class="btn btn-primary" style="margin-right: 20px;" asp-route-id="@Model?.Id">Змінити</a> 
    <a asp-action="Index" class="btn btn-primary">Повернутись</a>
</div>
