@model ISTPLab.Models.Timetable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Timetable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditoryNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditoryNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupTtNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupTtNavigation.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
