@model IEnumerable<ISTPLab.Models.Timetable>

@{
    ViewData["Title"] = "Index";
}

<h1>Інформація про проведення пар у різних групах</h1>
<hr />
<br />
<p>
    <button>
        <a asp-action="Index" asp-controller="Auditories">
            Аудиторії
            <span></span>   
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Faculties">
            Факультети
            <span></span>   
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Groups">
            Групи
            <span></span>   
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Students">
            Студенти
            <span></span>   
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Subjects">
            Предмети
            <span></span>   
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Teachers">
            Викладачі
            <span></span> 
        </a>
    </button>

    <buttonBack>
    <a asp-action="Index" asp-controller="Home" >
           Повернутись на головну 
        </a>
    </buttonBack>
    <br />
    <br/>
    <button>
        <a asp-action="Create">Додати нову пару до розкладу
            <span></span>
        </a>
    </button>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
                
                @Html.DisplayNameFor(model => model.AuditoryNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupTtNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </>
    <tbody>
@foreach (var item in Model) {
     <tr class="table-dark">
      
            <td>
                @Html.DisplayFor(modelItem => item.AuditoryNavigation.Number)
            </td>
               
            <td>
                @Html.DisplayFor(modelItem => item.GroupTtNavigation.Name)
            </td>
                
            <td>
                @Html.DisplayFor(modelItem => item.SubjectNavigation.Name)
            </td>
                
            <td>
                @Html.DisplayFor(modelItem => item.TeacherNavigation.Name)
            </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Time)
                </td>
                
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детальна інформація</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити </a>
            </td>
        </tr>
}
    </tbody>
</table>
