@model IEnumerable<ISTPLab.Models.Teacher>

@{
    ViewData["Title"] = "Викладачі  ";
}
<h1>Викладачі</h1>
<hr />
<br />
<p>
    <button>
        <a asp-action="Index" asp-controller="Timetables">
            Розклад пар
            <span></span>
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Auditories">
            Аудиторії
            <span></span>
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Faculties">
            Факультети
            <span></span>
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Groups">
            Групи
            <span></span>
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Students">
            Студенти
            <span></span>
        </a>
    </button>
    <button>
        <a asp-action="Index" asp-controller="Subjects">
            Предмети
            <span></span>
        </a>
    </button>
    <buttonBack>
        <a asp-action="Index" asp-controller="Home">
            Повернутись на головну
            <span></span>
        </a>
    </buttonBack>
    <br />
    <br />
    <button>
        <a asp-action="Create">
            Додати нового викладача
            <span></span>
        </a>
    </button>
    
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">
           
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacultyNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-dark">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyNavigation.Name)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Детальна інформація </a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити </a>
                </td>
        </tr>
}
    </tbody>
</table>
